<section class="container criar-aula ff-inter">
    <header class="header">
        <h2>Adicione uma <br>nova aula: </h2>
    </header>
    <form action="">
        <label for="materia">Materia:</label>
        <select 
            type="text"
            class="lista"
            id="materia"
            name="materia"
            [(ngModel)]="class.materia"
        >
            <option value=""></option>
            <option value="1 - PLATAFORMA - COMO USAR">1 - PLATAFORMA - COMO USAR</option>
            <option value="2 - EDITAL - MAPA da PROVA e PLANO de ESTUDOS">2 - EDITAL - MAPA da PROVA e PLANO de ESTUDOS</option>
            <option value="3 - TRILHAS - CAIXA ECONÔMICA - TÉCNICO BANCÁRIO">3 - TRILHAS - CAIXA ECONÔMICA - TÉCNICO BANCÁRIO</option>
            <option value="4 - PORTUGUÊS">4 - PORTUGUÊS</option>
            <option value="5 - QUESTÕES PORTUGUÊS - CESGRANRIO">5 - QUESTÕES PORTUGUÊS - CESGRANRIO</option>
            <option value="6 - LÍNGUA INGLESA e QUESTÕES">6 - LÍNGUA INGLESA e QUESTÕES</option>
            <option value="7 - MATEMÁTICA FINANCEIRA">7 - MATEMÁTICA FINANCEIRA</option>
            <option value="8 - QUESTÕES MATEMÁTICA FINANCEIRA - CESGRANRIO">8 - QUESTÕES MATEMÁTICA FINANCEIRA - CESGRANRIO</option>
            <option value="9 - NOÇÕES de PROBABILIDADE e ESTATÍSTICA">9 - NOÇÕES de PROBABILIDADE e ESTATÍSTICA</option>
            <option value="10 - QUESTÕES PROBABILIDADE e ESTATÍSTICA - CESGRANRIO">10 - QUESTÕES PROBABILIDADE e ESTATÍSTICA - CESGRANRIO</option>
            <option value="11 - COMPORTAMENTO ÉTICO, COMPLIANCE e QUESTÕES">11 - COMPORTAMENTO ÉTICO, COMPLIANCE e QUESTÕES</option>
            <option value="12 - CONHECIMENTOS BANCÁRIOS">12 - CONHECIMENTOS BANCÁRIOS</option>
            <option value="13 - QUESTÕES CONHECIMENTOS BANCÁRIOS - CESGRANRIO">13 - QUESTÕES CONHECIMENTOS BANCÁRIOS - CESGRANRIO</option>
            <option value="14 - ATUALIDADES DO MERCADO FINANCEIRO">14 - ATUALIDADES DO MERCADO FINANCEIRO</option>
            <option value="15 - QUESTÕES ATUALIDADES DO MERCADO FINANCEIRO">15 - QUESTÕES ATUALIDADES DO MERCADO FINANCEIRO</option>
            <option value="16 - INFORMÁTICA">16 - INFORMÁTICA</option>
            <option value="17 - QUESTÕES INFORMÁTICA - CESGRANRIO">17 - QUESTÕES INFORMÁTICA - CESGRANRIO</option>
            <option value="18 - CONHECIMENTOS, COMPORTAMENTOS DIGITAIS e QUESTÕES">18 - CONHECIMENTOS, COMPORTAMENTOS DIGITAIS e QUESTÕES</option>
            <option value="19 - ATENDIMENTO - VENDAS e NEGOCIAÇÃO">19 - ATENDIMENTO - VENDAS e NEGOCIAÇÃO</option>
            <option value="20 - QUESTÕES ATENDIMENTO - CESGRANRIO">20 - QUESTÕES ATENDIMENTO - CESGRANRIO</option>
            <option value="21 - REDAÇÃO">21 - REDAÇÃO</option>

        </select>
        <label for="aula">Nome da aula:</label>
        <input 
            type="text"
            class="input"
            id="aula"
            name="aula"
            placeholder="Digite o nome da aula"
            [(ngModel)]="class.aula"
        >
        <label for="link">Link da aula:</label>
        <input 
            type="text"
            class="input"
            id="link"
            name="link"
            placeholder="Digite o link da aula"
            [(ngModel)]="class.link"
        >
        <label for="material">Material da aula:</label>
        <input 
            type="text"
            class="input"
            id="material"
            name="material"
            placeholder="Digite o material da aula"
            [(ngModel)]="class.material"
        >

    <div class="acoes">
        <button (click)="createClass()" class="botao">Salvar</button>
        <button (click)="cancelar()" class="botaocancelar">Cancelar</button>
    </div>
    </form>
</section>